# Let's Explore a few Hypothesis Testings

### Package Version
- seaborn==0.10.1
- pandas==1.0.4
- numpy==1.18.5
- matplotlib==3.2.1

In [113]:
import pandas as pd
import numpy as np
import scipy.stats as stats
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns
#
import statsmodels.api as sm
from statsmodels.formula.api import ols
#
from scipy.stats import f_oneway
#
import warnings
warnings.filterwarnings("ignore")
#

## Hypothesis 1: Dogs as pets influence Children's demeanor/ cheerfulness?

### A Survey of 50 Kids:  A study was done to see the effect of presence of dogs as pets on kids (ages 10 to 18). Two groups of teenagers, one group with teenagers who owned a dog for minimum 5 years and another group of kids who never owned a dog, were presented a questionnaire and scores were computed. High score corresponds to higher cheerfulness and low score corresponds to lower cheerfulness.

In [3]:
dog_df = pd.read_csv('Dog_as_Pet.csv')
dog_df.head()

,Survey_ID,Cheer_index,DogasPet,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,121,5,No,NaN,NaN,NaN,NaN
1,122,8,Yes,NaN,NaN,NaN,NaN
2,123,6,No,NaN,NaN,NaN,NaN
3,124,5,Yes,NaN,NaN,NaN,NaN
4,125,6,No,NaN,NaN,NaN,NaN

In [4]:
dog_df.dropna(inplace=True, axis=1)
dog_df.head()

   Survey_ID  Cheer_index DogasPet
0        121            5       No
1        122            8      Yes
2        123            6       No
3        124            5      Yes
4        125            6       No

## Hypothesis Formulation

### $H_{o}$:  $Î¼_{with Dog}$ =  $Î¼_{without Pets}$  (Pets have no effect on cheerfulness of kids)
### $H_{a}$:  $Î¼_{with Dog}$ $\neq$  $Î¼_{without Pets}$  (Dog as a Pet has an effect on Kids' cheerfulness)
###  Î± = 0.05

In [11]:
dog=dog_df[dog_df['DogasPet']=='Yes']['Cheer_index']
Nodog=dog_df[dog_df['DogasPet']=='No']['Cheer_index']
print('With Dog as Pet, Mean Cheer Index=', round(dog.mean(),2))
print('Without a Pet, Mean Cheer Index=',round(Nodog.mean(),2))
print('Stdev for DogasPet Cheer Index:',round(dog.std(),2))
print('Stdev for No Pets Cheer Index:',round(Nodog.std(),2))

With Dog as Pet, Mean Cheer Index= 7.68
Without a Pet, Mean Cheer Index= 5.92
Stdev for DogasPet Cheer Index: 1.11
Stdev for No Pets Cheer Index: 1.26

### Use the type T-test for 2 independent samples

### Critical value for T test and Î± = 0.05?

In [17]:
df = dog.count()+Nodog.count()-2
df

49

In [20]:
stats.t.isf(0.05/2,df) # 2-tailed test so Î±/2 and df = n1+n2-2

2.0095752344892093

## $t_{stat}$ = $\frac{Î¼_{d}-Î¼_{nd}}{\sqrt{\frac{Sd^2}{n1}+\frac{Snd^2}{n2}}}$

In [21]:
tstat,p_value=stats.ttest_ind(dog,Nodog) # Independent 2 sample t-test function is used
print('t_statistic=', round(tstat,3),'p_value=',p_value)

t_statistic= 5.275 p_value= 2.9961864622017984e-06

### t_statistic > t_critical and p_value is low so Null must go!
### Reject the Null Hypothesis
### Dog as a pet has influence on children's cheerfulness and is indicated from the sampled data

## Now if all above samples came from a population with mean cheerful rating of 7.1 and standard deviation of 1.5, Is the sampling done right with 95% confidence?

## Hypothesis Formulation

### $H_{o}$:  $Î¼_{Sample}$ =  $Î¼_{Population}$  (Sample is representative of population based on mean)
### $H_{a}$:  $Î¼_{Sample}$ $\neq$  $Î¼_{Population}$  (Sample is not representative of population based on mean)
###  Î± = 0.05

In [46]:
samp=np.concatenate((dog,Nodog),axis=0)
Mu=7.1 # Population mean for cheer index
sigma=1.5 # Population stdev for cheer index
N=len(samp) # Number of Samples

In [47]:
SE = sigma/np.sqrt(N)
z_stat = (samp.mean() - Mu)/SE
print(z_stat)

-1.5029672901900628

In [50]:
stats.norm.isf(1-0.025) # Z_critical for 2_tailed sample test with Î± = 0.05

-1.959963984540054

In [51]:
samp.std()

1.4594348287002663

### Clearly Z_critical < Z_stat which means the sample mean lies within the 95% confidence interval of the population mean and the standard deviations are approximately same (same variance)

### So sampling seems to be representative of the population

# Hypothesis 2 : Forest Acorns

## 2a: One-sample location test on whether the mean of a population is equal to a value specified in null hypothesis

The mass of a sample of N=20 acorns from a forest subjected to acid rain from a coal power plant are m = 8.8, 6.6, 9.5, 11.2, 10.2, 7.4, 8.0, 9.6, 9.9, 9.0, 7.6, 7.4, 10.4, 11.1, 8.5, 10.0, 11.6, 10.7, 10.3, and 7.0 g. Is the average mass of this sample different from the average mass of all acorns of &mu; = 10.0 g?

* H<sub>0</sub>: x&#772; - &mu; = 0, that is there is no difference between my sample mean and the value of &mu;.
* H<sub>a</sub>: x&#772; - &mu; &ne; 0 (two-sided test)
* &alpha; = 0.05

[t-table](http://www.sjsu.edu/faculty/gerstman/StatPrimer/t-table.pdf)
* degrees of freedom: d<sub>f</sub> = N-1
* t-critical for specified alpha level: t<sub>*</sub> = 2.093
* t-statistic: t = (x&#772; - &mu;)/(s/sqrt(N)) where s is the sample standard deviation.

## 1-Sample t-test why?

In [55]:
t_critical = 2.093 # from t-table
N=20 #sample of 20
# also we can use the stats.t.isf() function
t_critical1=stats.t.isf(0.025,N-1) # 2-tailed t-test so use Î±/2 and df = N-1 = 19
t_critical1

2.0930240544082634

In [57]:
acorns = [8.8, 6.6, 9.5, 11.2, 10.2, 7.4, 8.0, 9.6, 9.9, 9.0,
     7.6, 7.4, 10.4, 11.1, 8.5, 10.0, 11.6, 10.7, 10.3, 7.0]
mu = 10

acorns_bar = np.array(acorns).mean()
s = np.array(acorns).std(ddof=1) # subtract 1 from N to get unbiased estimate of sample standard deviation
N = len(acorns)
SE = s/np.sqrt(N)
t = (acorns_bar - mu)/SE
print("t-statistic: ",t)

# a one sample t-test that gives you the p-value too can be done with scipy as follows:
t, p = stats.ttest_1samp(acorns, mu)
print("t = ", t, ", p = ", p)

t-statistic:  -2.2491611580763977
t =  -2.2491611580763973 , p =  0.03655562279112415

### Note that t is greater in magnitude that t<sub>*</sub> (t_critical), so there is a statistically significant difference at the &alpha; = 0.05 level between the sample mean and the stated population mean of 10 g. Let's also report the 95% confidence intervals too..

In [61]:
# margin of error
err = t_critical*SE
x_low = acorns_bar - err
x_high = acorns_bar + err
print("acorns_bar = {}, 95% CI [{}, {}]".format(acorns_bar.round(2), x_low.round(2), x_high.round(2)))

# you can also get CIs by using the t-distribution function like this:
print("95% CI using interval function in scipy: ",stats.t.interval(0.95, N-1, loc=acorns_bar, scale=SE))

acorns_bar = 9.24, 95% CI [8.53, 9.95]
95% CI using interval function in scipy:  (8.532759313560822, 9.947240686439175)

## 2b:Independent (unpaired) two-sample location test with a null hypothesis that the means of the two samples are equal (equal variance assumed).
The mass of N<sub>1</sub>=20 acorns from oak trees up wind from a coal power plant and N<sub>2</sub>=30 acorns from oak trees down wind from the same coal power plant are measured. Are the acorns from trees downwind less massive then the ones from up wind? This will require a one-tail (on the low/left side) test. The sample sizes are not equal but we will assume that the population variance of sample 1 and sample 2 are equal. If we don't make the assumption of equal variance then we do a Welch's t-test.

* H<sub>0</sub>: x&#772;<sub>1</sub> = x&#772;<sub>2</sub>, or x&#772;<sub>2</sub> - x&#772;<sub>1</sub> = 0, that is , there is no difference between the sample means
* H<sub>A</sub>: x&#772;<sub>2</sub> < x&#772;<sub>1</sub>, or x&#772;<sub>2</sub> - x&#772;<sub>1</sub> < 0
* &alpha; = 0.05

[t-table](http://www.sjsu.edu/faculty/gerstman/StatPrimer/t-table.pdf)
* degrees of freedom: d<sub>f1</sub>= N<sub>1</sub>-1 = 19, d<sub>f2</sub>= N<sub>2</sub>-1 = 29, d<sub>f</sub> = d<sub>f1</sub> + d<sub>f2</sub> = N<sub>1</sub> + N<sub>2</sub> - 2 = 48

* t-critical for specified alpha level: t<sub>*</sub> = -1.677 (one-tailed, left-side)
* t-statistic: t = (x&#772;<sub>2</sub> - x&#772;<sub>1</sub>)/(s<sub>p</sub> sqrt(1/N<sub>1</sub> + 1/N<sub>2</sub>)))
* pooled variance: s<sub>p</sub> = sqrt( ((d<sub>1</sub>) s<sub>1</sub><sup>2</sup> + (d<sub>2</sub>) s<sub>2</sub><sup>2</sup>)) / d<sub>f</sub> )

In [65]:
t_critical=stats.t.isf(0.05,48)
t_critical

1.6772241953450402

In [63]:
# sample up wind
x1 = [10.8, 10.0, 8.2, 9.9, 11.6, 10.1, 11.3, 10.3, 10.7, 9.7, 
      7.8, 9.6, 9.7, 11.6, 10.3, 9.8, 12.3, 11.0, 10.4, 10.4]

# sample down wind
x2 = [7.8, 7.5, 9.5, 11.7, 8.1, 8.8, 8.8, 7.7, 9.7, 7.0, 
      9.0, 9.7, 11.3, 8.7, 8.8, 10.9, 10.3, 9.6, 8.4, 6.6,
      7.2, 7.6, 11.5, 6.6, 8.6, 10.5, 8.4, 8.5, 10.2, 9.2]

# equal sample size and assume equal population variance
N1 = len(x1)
N2 = len(x2)
d1 = N1-1
d2 = N2-1
df = d1+d2
s1 = np.std(x1,ddof=1)
s2 = np.std(x2,ddof=1)
x1_bar = np.mean(x1)
x2_bar = np.mean(x2)

sp = np.sqrt((d1*s1**2 + d2*s2**2)/df)
se = sp*np.sqrt(1/N1 + 1/N2)
t = (x2_bar - x1_bar)/(se)
print("t-statistic", t)

# a two-sample independent t-test is done with scipy as follows
# NOTE: the p-value given is two-sided so the one-sided p value would be p/2
t, p_twosided = stats.ttest_ind(x2, x1, equal_var=True)
print("t = ",t, ", p_twosided = ", p_twosided, ", p_onesided =", p_twosided/2)

t-statistic -3.5981947686898033
t =  -3.5981947686898033 , p_twosided =  0.0007560337478801464 , p_onesided = 0.0003780168739400732

### Clearly Reject the Null, since |t_statistic| > |t_critical|

### There's a significant difference between the weights of the Acorns upwind and downwind (lighter)

## 2c. Paired samples (dependent/repeated measures) t-test with a null hypothesis that the mean difference is a specified constant (usually zero).
The average mass of acorns from the same N=30 trees downwind of a power plant is measured before (x<sub>1</sub>) and after (x<sub>2</sub>) the power plant converts from burning coal to buring natural gas. Does the mass of the acorns increase after the conversion from coal to natural gas? This will require a one-tail (on the low/left side) test.

* H<sub>0</sub>: x&#772;<sub>2</sub> - x&#772;<sub>1</sub> = 0, that is , there is no difference between the sample means
* H<sub>A</sub>: x&#772;<sub>2</sub> - x&#772;<sub>1</sub> > 0
* &alpha; = 0.05

[t-table](http://www.sjsu.edu/faculty/gerstman/StatPrimer/t-table.pdf)
* degrees of freedom: d<sub>f</sub> = N-1 = 29
* t-critical for specified alpha level: t<sub>*</sub> = 1.699 (one-tailed, right-side)
* t-statistic: t = (x&#772;<sub>diff</sub> - 0)/(s<sub>diff</sub> / sqrt(N))
* standard deviation of difference: s<sub>d</sub> = sqrt(s<sub>1</sub><sup>2</sup>/N<sub>1</sub> + s<sub>2</sub><sup>2</sup>/N<sub>2</sub>)
* mean difference: x&#772;<sub>diff</sub> = x&#772;<sub>2</sub> - x&#772;<sub>1</sub>

In [70]:
t_critical=stats.t.isf(0.05,29)
t_critical

1.6991270265334977

In [68]:
# sample before conversion to nat. gas
x1 = np.array([10.8, 6.4, 8.3, 7.6, 11.4, 9.9, 10.6, 8.7, 8.1, 10.9,
      11.0, 11.8, 7.3, 9.6, 9.3, 9.9, 9.0, 9.5, 10.6, 10.3,
      8.8, 12.3, 8.9, 10.5, 11.6, 7.6, 8.9, 10.4, 10.2, 8.8])
# sample after conversion to nat. gas
x2 = np.array([10.1, 6.9, 8.6, 8.8, 12.1, 11.3, 12.4, 9.3, 9.3, 10.8,
      12.4, 11.5, 7.4, 10.0, 11.1, 10.6, 9.4, 9.5, 10.0, 10.0,
      9.7, 13.5, 9.6, 11.6, 11.7, 7.9, 8.6, 10.8, 9.5, 9.6])
N = len(x2)
xbar_diff = np.mean(x2) - np.mean(x1) # could also do np.mean(x2 - x1))
sdiff = np.std(x2-x1,ddof=1)
t = xbar_diff / (sdiff/np.sqrt(N))
print("t = ", t)

t, p = stats.ttest_rel(x2, x1) # using scipy ttest_rel function
print("t = ", t, ", p = ", p/2) # divide by two because we are doing a one-tail test

d = xbar_diff / sdiff
print("d = ", d) # chohen's d

# Also we can use ttest_1samp function with the difference of sample pairs used as a single sample
t1,p1=stats.ttest_1samp(x2-x1, 0) # using scipy ttest_rel function
print("t1=", t1, ",p1=", p1/2)

t =  3.9054390813265063
t =  3.905439081326491 , p =  0.0002584344912342189
d =  0.7130323606015934
t1= 3.905439081326491 ,p1= 0.0002584344912342189

### Clearly Reject the Null Hypothesis since t_statistic > t_critical, p_value <0.05
### The coal power plant affects the mass of the acorns based on the samples tested at Î± = 0.05 significance

# Hypothesis 3 : Medical Insurance Dataset

## 3a: Proportion of smokers amongst male and female clients

In [71]:
df = pd.read_csv('insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [72]:
ctab=pd.crosstab(df['sex'],df['smoker'])
ctab

smoker   no  yes
sex
female  547  115
male    517  159

### Hypothesis Formulation

* 'sex' and 'smoker' are two categorical variables
* We want to see if the proportion of smokers in the female population is significantly less than it is in the male population

#### Ho = The proportions are equal
#### Ha = The two proportions are not equal

In [73]:
female_smokers = df[df['sex'] == 'female'].smoker.value_counts()[1]  # number of female smokers
male_smokers = df[df['sex'] == 'male'].smoker.value_counts()[1] # number of male smokers
n_females = df.sex.value_counts()[1] # number of females in the data
n_males = df.sex.value_counts()[0] #number of males in the data

In [75]:
print([female_smokers, male_smokers] , [n_females, n_males])
print(' Proportion of smokers in females, males = {round(115/662,2)}%, {round(159/676,2)}% respectively')

[115, 159] [662, 676]
 Proportion of smokers in females, males = {round(115/662,2)}%, {round(159/676,2)}% respectively

#### The proportions are different but are they statistically significant?

In [76]:
from statsmodels.stats.proportion import proportions_ztest

stat, pval = proportions_ztest([female_smokers, male_smokers] , [n_females, n_males])
print(stat,pval)

if pval < 0.05:
    print(f'With a p-value of {round(pval,4)} the difference is significant. aka |We reject the null|')
else:
    print(f'With a p-value of {round(pval,4)} the difference is not significant. aka |We fail to reject the null|')

-2.7867402154855503 0.005324114164320532
With a p-value of 0.0053 the difference is significant. aka |We reject the null|

### Use Chisquare test to determine the correlation between the categorical variables Gender and Smoking

In [92]:
chi_sq_Stat, p_value, deg_freedom, exp_freq = stats.chi2_contingency(ctab)
print('Chi-square statistic %3.5f P value %1.6f Degrees of freedom %d' %(chi_sq_Stat, p_value,deg_freedom))

Chi-square statistic 7.39291 P value 0.006548 Degrees of freedom 1

### Clearly Gender has some correlation with proportion of Smokers

# Hypothesis 4: Test of Variance

For chi square table: https://people.smp.uq.edu.au/YoniNazarathy/stat_models_B_course_spring_07/distributions/chisqtab.pdf

In [79]:
df['age'].value_counts().head()

18    69
19    68
51    29
45    29
46    29
Name: age, dtype: int64

In [80]:
teen = df[df['age'] <= 19]
print(teen.head())
teen.sex.value_counts()

    age     sex     bmi  children smoker     region      charges
0    19  female  27.900         0    yes  southwest  16884.92400
1    18    male  33.770         1     no  southeast   1725.55230
15   19    male  24.600         1     no  southwest   1837.23700
22   18    male  34.100         0     no  southeast   1137.01100
31   18  female  26.315         0     no  northeast   2198.18985

male      71
female    66
Name: sex, dtype: int64

In [82]:
sample_male = teen[teen['sex'] == 'male'].bmi.iloc[:-5]   #excluding the last 5 elements to match the size of the 2 samples
sample_female = teen[teen['sex'] == 'female'].bmi
print(sample_male.head())
print(sample_female.head())

1     33.770
15    24.600
22    34.100
35    20.425
57    31.680
Name: bmi, dtype: float64
0     27.900
31    26.315
32    28.600
46    38.665
50    35.625
Name: bmi, dtype: float64

In [83]:
v1, v2 = np.var(sample_female) , np.var(sample_male)
print(v1,v2)

35.906116901974286 41.2155472050046

### Variances of bmi of men is higher than it is for women. But is the difference statistically significant?

## Hypothesis Formulation

### Ho : Variation in bmi of men and women is equal 
### Ha : Variation in bmi of men is greater than it is in women

In [87]:
n = 66  # number of samples
dof = n - 1  # degrees of freedom
alpha = 0.05  # significance level
#chi_critical = 84.8    # critical chi_squared statistic. From the table or use below function

In [88]:
chi_critical=stats.chi2.ppf(1-alpha,dof)
chi_critical

84.82064549765667

## $Chisq_{stat}$ = $\frac{(n-1)*var1}{var2}$

In [89]:
chi = (dof*v1)/v2
print(chi)
if chi < chi_critical:
    print("Since the test statistic is less than the critical value, we fail to reject the null")
else:
    print("Since the test statistic is more than the critical value, we reject the null")

56.626631378193494
Since the test statistic is less than the critical value, we fail to reject the null

### Let's try same hypothesis with F-test for 2 samples

In [91]:
fstat=v2/v1
fcrit=stats.f.isf(0.05,65,65)
print("fstat=",fstat,",fcrit=",fcrit)
if fstat < fcrit:
    print("Since the test statistic is less than the critical value, we fail to reject the null")
else:
    print("Since the test statistic is more than the critical value, we reject the null")

fstat= 1.1478697993861422 ,fcrit= 1.5083825988401276
Since the test statistic is less than the critical value, we fail to reject the null

## HYPOTHESIS 5: One-Way ANOVA
### 3 Factories A,B,C of plants from the same company are measured and samples collected for Emissions compositions over same periods of time. We want to find out if there is any inconsistency or difference across the three groups.

## Hypothesis Formulation
### $ð»ð‘œ : Î¼_{A} = Î¼_{B}= Î¼_{C}$ (in terms of Emissions composition)
### ð»ð‘Ž: Factories A,B,C don't have the same mean emission compositions
### Î± = 0.05

In [98]:
fac_df=pd.read_csv("Factory_Emissions.csv")

In [99]:
fac_df.dropna(axis=1,inplace=True)

In [100]:
fac_df.head()

  Factory  Emissions
0       A         57
1       A         56
2       A         58
3       A         58
4       A         56

In [103]:
mod=ols('Emissions ~ Factory',data=fac_df).fit()
aov_table=sm.stats.anova_lm(mod,typ=2)
print(aov_table)

               sum_sq    df         F    PR(>F)
Factory   1446.392105   2.0  5.605296  0.006088
Residual  7096.107895  55.0       NaN       NaN

In [105]:
f_critical=stats.f.isf(0.025,2,56)
f_critical

3.942908658401556

In [116]:
sampleA=fac_df[fac_df['Factory']== 'A']['Emissions']
sampleB=fac_df[fac_df['Factory']== 'B']['Emissions']
sampleC=fac_df[fac_df['Factory']== 'C']['Emissions']

In [117]:
f_stat,p_value=stats.f_oneway(sampleA,sampleB,sampleC)
print(f_stat,p_value)

5.605295675427708 0.0060879156389451235

### f_stat > f_crit and hence Reject the Null, Factories are not alike